/* This file is for your main application css. */

@import "./phoenix.css";

body {
  background: lightcoral;
  color: black;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
header {
  height: 0px;
  padding: 0px;
  margin: 0px;
  display: hidden;
}
a {
  display: block;
  overflow: hidden;
}

}
